@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-nm-gray-900 text-white;
}

@layer base {
  /*? set up the main layout of the page */
  .main-grid {
    display: grid;
    grid-template-columns: max-content 1fr;

    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  /*? Add padding to the page */
  .p-side {
    @apply px-7 md:px-10 2xl:px-[60px];
  }

  /*? Add a gradient shadow to the bottom of the page */
  .gradient-shadow {
    width: 100vw;
    height: 30%;
    background: linear-gradient(
      to bottom,
      rgba(1, 1, 1, 0.4),
      rgba(1, 1, 1, 0)
    );
  }

  /*? Add a gradient shadow to the top of the page */
  .overlay::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/ressources/noise-background.gif');
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.04;
    pointer-events: none;
    z-index: 100000;
  }
}
